<div class="element">
    <h2>Reset Password </h2>
    <h4>You can reset your password here. </h4>
    <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
        <div class="alert alert-success" *ngIf="successMsg">
            {{ successMsg }}
        </div>
        <div class="alert alert-danger" *ngIf="errorMsg">
            {{ errorMsg }}
        </div>
        <div class="form-group">
            <input type="password" class="form-control" formControlName="new_password" placeholder="
            Enter new password...">
            <span *ngIf="resetPasswordForm.get('new_password').touched && !resetPasswordForm.get('new_password').valid" class="error-message">
            <p *ngIf="resetPasswordForm.get('new_password').errors['required']">This field is required.</p>
        </span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" formControlName="confirm_password" placeholder="
            Re-enter your new password...">
            <span *ngIf="resetPasswordForm.get('confirm_password').touched && !resetPasswordForm.get('confirm_password').valid" class="error-message">
            <p *ngIf="resetPasswordForm.get('confirm_password').errors['required']">This field is required.</p>
            <p *ngIf="resetPasswordForm.get('confirm_password').errors['invalidMatch']">Passwords do't match.</p>
            <p *ngIf="resetPasswordForm.get('confirm_password').errors['minlength']">Please enter atleast 6 characters.</p>            
        </span>
        </div>
        <button type="submit" class="mat-raised-button btn-primary btn">Reset my password</button>

    </form>
</div>