<div class="card-body">
    <h3> Change password</h3>
    <div class="alert alert-danger" *ngIf="error">
        {{ error }}
    </div>
    <form [formGroup]="changePasswordForm">

        <div class="form-group ">
            <mat-form-field>
                <input type="password" matInput placeholder="Old password" formControlName="oldPassword" autocomplete="off ">
            </mat-form-field>
            <span *ngIf="!changePasswordForm.get( 'oldPassword').valid && changePasswordForm.get( 'oldPassword').touched " class="error-message ">
                    <p *ngIf="changePasswordForm.get('oldPassword').errors[ 'required'] ">This field is required.</p>
                    <p *ngIf="changePasswordForm.get('oldPassword').errors.serverError ">
                        {{ changePasswordForm.get('oldPassword').errors.serverError }}
                    </p>
                </span>
        </div>

        <div class="form-group ">
            <mat-form-field>
                <input type="password" matInput placeholder="New password" formControlName="newPassword" autocomplete="off ">
            </mat-form-field>
            <span *ngIf="!changePasswordForm.get( 'newPassword').valid && changePasswordForm.get( 'newPassword').touched " class="error-message ">
                    <p *ngIf="changePasswordForm.get('newPassword').errors[ 'required'] ">This field is required.</p>
                    <p *ngIf="changePasswordForm.get('newPassword').errors[ 'minLength'] ">Must be atleast 6 characters.</p>
                    <p *ngIf="changePasswordForm.get('newPassword').errors.serverError ">
                        {{ changePasswordForm.get('newPassword').errors.serverError }}
                    </p>
                </span>
        </div>

        <mat-dialog-actions>
            <button class="mat-raised-button " (click)="close() ">Close</button>
            <button class="mat-raised-button mat-primary " (click)="save() ">Update</button>
            <button class="mat-raised-button mat-default " (click)="onReset() ">Reset</button>
        </mat-dialog-actions>
    </form>

</div>