:host /deep/ .mat-list-item-content {
    display: contents !important;
    padding: 0 !important;
}

.active {
    color: red;
}

.itemForm {
    align-items: center;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin: 20%;
    margin-top: 50px;
}

.itemForm h5 {
    color: #101010;
    font-size: 20px;
}

.remove-item {
    cursor: pointer;
}

.itemForm button {
    border: 2px solid #33b5e5;
    background-color: transparent;
    padding: 10px 50px;
    border-radius: 30px;
    color: #33b5e5;
    margin: 10px;
}

.itemForm button:hover {
    background-color: #33b5e5;
    color: #fff;
}

input.ng-invalid.ng-touched {
    border: 1px solid #cc0033;
}

.error-message {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
}

.list-item {
    /* padding: 10px;
        background-color: #101010;
    border: 2px solid #101010;
        border-radius: 5px;
        color: #000;
        height: 40px; */
}

.list-item p {
    padding-left: 10px;
    /* margin-top: -10px; */
}

mat-sidenav-container {
    margin-top: -20px;
    height: auto;
}

.tp-container {
    width: 200px;
}

mat-sidenav-content {
    background: rgba(232, 232, 232, 0.87)
}

.tp-section {
    width: 300px;
}

.mat-list-item {
    height: 28px !important;
}

.mat-list-base {
    padding-top: 0;
}

.list-card {
    float: left;
    margin: 30px;
    background-color: #dadada;
    box-shadow: 2px 2px 7px #aaaaaa;
}

.toggle-btn {
    margin-bottom: -36px;
    float: right;
}

.form-control {
    margin: -7px 0px;
    width: 160px;
}

.task-list-item {
    background-color: #eee;
    display: block;
    margin: 5px 0;
    padding: 5px 0;
}

.task-list {
    margin-top: 10px;
}

mat-panel-title {
    font-weight: 600;
}

.remove-task {
    display: none;
    padding: 0 5px;
    font-weight: 300;
    cursor: pointer;
}

.task-list-item:hover .remove-task {
    display: block;
}