<div class="itemForm">
    <div class="alert alert-success" *ngIf="successMsg"> {{ successMsg }} </div>
    <div class="alert alert-danger" *ngIf="error"> {{ error }} </div>
    <h5>Add List</h5>
    <form (ngSubmit)="addItem()" [formGroup]="itemForm">
        <div class="form-group">
            <input type="text" class="form-control" formControlName="addList" placeholder="New item..." [ngClass]="{error:error}">
            <span *ngIf="itemForm.get('addList').touched && !itemForm.get('addList').valid" class="error-message">
                <p *ngIf="itemForm.get('addList').errors['required']">This field is required.</p>
                <p *ngIf="itemForm.get('addList').errors.serverError">
                    {{ itemForm.get('addList').errors.serverError }}
                </p>
        </span>
        </div>
        <button type="submit" class="btn" [disabled]="!itemForm.valid">Add</button>

    </form>

    <div *ngIf="list">
        <div *ngFor="let item of list" class="list-item">
            <p> {{ item }} </p>
        </div>
    </div>
</div>