<mat-sidenav-container>
    <mat-sidenav mode="side" #sidenav>
        <div *ngIf="list" class="tp-section">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            List
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div *ngFor="let item of list;let i = index" class="list-item">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{ item.addList }}
                                </mat-panel-title>
                                <!-- <span class="remove-item" (click)="removeItem(i)"> X </span> -->
                            </mat-expansion-panel-header>

                            <mat-list>
                                <div *ngFor="let taskitem of task;let i = index" class="list-item">
                                    <mat-list-item *ngIf="item._id===taskitem._listId">
                                        <p class="remove-item">
                                            <span class="pull-left"> {{ taskitem.addTask }} </span>
                                            <span class="pull-right remove-item" (click)="removeItem(i)"> X </span>
                                        </p>
                                        <mat-divider></mat-divider>
                                    </mat-list-item>
                                </div>
                            </mat-list>
                        </mat-expansion-panel>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <button mat-button (click)="sidenav.toggle()" class="toggle-btn">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
        <div *ngFor="let item of list;let i = index">
            <mat-card class="list-card">
                <mat-card-header>
                    <mat-card-title (dblclick)="editListTitle(i)">
                        <span *ngIf="i!==editIndex"> {{ item.addList }}</span>

                        <form *ngIf="i===editIndex" [formGroup]="updateTitleForm">
                            <!-- <mat-form-field> -->
                            <input value="{{ item.addList }}" class="form-control" #addList (keyup.enter)="update(addList.value)" (blur)="update(addList.value)">
                            <!-- </mat-form-field> -->
                            <span *ngIf="updateTitleForm.get('addList').touched && !updateTitleForm.get('addList').valid" class="error-message">
                                <p *ngIf="updateTitleForm.get('addList').errors['required']">This field is required.</p>
                            </span>
                        </form>
                    </mat-card-title>
                </mat-card-header>

                <mat-divider></mat-divider>

                <mat-card-content *ngIf="task" class="task-list">
                    <div *ngFor="let taskitem of task;let i = index">
                        <span *ngIf="item._id===taskitem._listId" class="task-list-item"> {{ taskitem.addTask }}</span>
                    </div>
                    <form [formGroup]="taskForm">
                        <mat-form-field>
                            <mat-label>+ New Task</mat-label>
                            <!-- <input value="{{ item }}" class="form-control" #addList (keyup.enter)="update(addList.value)" (blur)="update(addList.value)"> -->
                            <input matInput formControlName="addTask" (keyup.enter)="addTask(item._id)" autocomplete="off">
                            <!-- <span class=" glyphicon glyphicon-pencil pull-right "></span> -->

                            <span *ngIf="updateTitleForm.get('addList').touched && !updateTitleForm.get('addList').valid" class="error-message">
                                <p *ngIf="updateTitleForm.get('addList').errors['required']">This field is required.</p>
                            </span>
                        </mat-form-field>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>