<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" routerLink="/dashboard"><span class="glyphicon glyphicon-home"></span
          ><span class="link"> Home</span></a
        >
      </div>
  
      <!-- USERNAME -->
      <div class="navbar-collapse collapse" id="collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a (click)="openAddDialog()"
              ><span class="glyphicon glyphicon-plus"></span
              ><span class="link">List</span></a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="link"> {{ username }}</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <mat-drawer-container class="example-container" id="dropdown-menu">
                        <mat-drawer #drawer mode="side" class="mat-drawer" position="end">
                            <div class="mat-drawer-header">
                                <span class="glyphicon glyphicon-chevron-left" (click)="changeStyleAgain()"></span>
                                <h4>Choose background</h4>
                                <mat-divider></mat-divider>
                            </div>
                            <!-- <img src="https://cdn.pixabay.com/photo/2012/08/27/14/19/evening-55067__340.png" /> -->
                            <div class="bg-card" (click)="setNoBackground()">
                                <span class="bg-card-glyphicon glyphicon glyphicon-ban-circle" (click)="noBackgroundImg()"></span>
                                <div class="middle">
                                    <div class="text">None</div>
                                </div>
                            </div>
                            <div class="bg-card">
                                <span class="bg-card-glyphicon glyphicon glyphicon-plus" (click)="_fileInput.click()">                              
                            </span>

                                <input type="file" #_fileInput style="display: none" accept='image/*' (change)="addCustomgBg(_fileInput.files)">
                                <div class="middle">
                                    <div class="text" id="canError" (click)="_fileInput.click()">Add custom image</div>
                                </div>
                            </div>

                            <div class="bg-card" *ngFor="let image of bgImages;index as i">
                                <img [src]="image.imgUrl" (click)="changeBackground(image.imgUrl)" />
                                <div class="middle">
                                    <div class="text" (click)="sendBackground(i,image.imgUrl,image.type)">Apply</div>
                                </div>
                            </div>

                        </mat-drawer>
                        <mat-drawer-content class="drawer-content">
                            <li (click)="editProfileDialog()"><a> Profile</a></li>
                            <li (click)="changePasswordDialog()"><a>Edit Password</a></li>
                            <li class="dropdown-submenu" (click)="changeStyle()"><a>Change Background<span class="caret"></span></a></li>
                            <!-- <li (click)="onLogout()"><a>Logout</a></li> -->
                        </mat-drawer-content>
                    </mat-drawer-container>
                </ul>
            </li>
            </ul>
        </div>
    </div>
</nav>

<!-- <li class="dropdown">
            <a
              routerLink="/dashboard"
              data-toggle="dropdown" 
              class="dropdown-toggle"
              ><span class="glyphicon glyphicon-user"></span
              ><span class="link"> {{ username }}</span>
              <span class="caret"></span>
            </a>

            <mat-drawer-container class="example-container dropdown-menu">


                <div class="example-sidenav-content">
                    <ul class="">
                        <li>
                            <a (click)="editProfileDialog()"> Profile</a>
                        </li>
                        <li>
                            <a (click)="changePasswordDialog()">Edit Password</a>
                        </li>
                        <li>
                            <a (click)="onLogout()">Logout</a>
                        </li>
                        <li class="dropdown dropdown-submenu ">
                            <a>Change Theme</a></li>
                    </ul>
                    <button type="button" mat-button (click)="drawer.toggle()">
                        Change Theme
                      </button>
                            </div>
                            <mat-drawer #drawer class="example-sidenav" mode="over">
                                <p>Auto-resizing sidenav</p>
                            </mat-drawer>

                    </mat-drawer-container>
            </li>
            </ul>
        </div>
    </div>
</nav>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    </div>

</mat-drawer-container> -->
<app-new-list></app-new-list>