<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" routerLink="/dashboard"><span class="glyphicon glyphicon-home"></span
          ><span class="link"> Home</span></a
        >
      </div>
  
      <!-- USERNAME -->
      <div class="navbar-collapse collapse" id="collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a (click)="openAddDialog()"
              ><span class="glyphicon glyphicon-plus"></span
              ><span class="link">List</span></a
            >
          </li>
  
          <li class="dropdown">
            <a
              routerLink="/dashboard"
              data-toggle="dropdown"
              ><span class="glyphicon glyphicon-user"></span
              ><span class="link"> {{ username }}</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a (click)="editProfileDialog()"> Profile</a>
                </li>
                <li>
                    <a (click)="changePasswordDialog()">Edit Password</a>
                </li>
                <li>
                    <a (click)="onLogout()">Logout</a>
                </li>
            </ul>
            </li>
            </ul>
        </div>
    </div>
</nav>
<app-new-list></app-new-list>