.navbar {
    border: 0;
    border-radius: 0;
    background: -webkit-gradient( linear, left top, right top, from(#41295a), to(#2f0743));
    background: linear-gradient(to right, #41295a, #2f0743);
}

.navbar .nav li>a,
.navbar .navbar-brand {
    max-height: 50px;
    width: auto;
    background: transparent !important;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}


/* username change property */

.navbar .nav li>a:hover .link,
.navbar .navbar-brand:hover .link {
    width: 100%;
    visibility: visible;
    font-size: 14px;
    padding: 5px;
}


/* Blink Name */

.navbar .link {
    width: 0;
    font-family: "Roboto", sans-serif;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    visibility: hidden;
    font-size: 0px;
}


/* change color of home and username */

.navbar span {
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/* drop list on of */

.navbar .dropdown.open .link {
    width: 100%;
    visibility: visible;
    font-size: 14px;
    padding: 5px;
}


/* dropdown list color */

.navbar .dropdown .dropdown-menu {
    background: #2f0743;
}

.dropdown-menu-left {
    position: absolute;
    left: -250px;
    width: 200px;
}


/* dropdown font */

.navbar .dropdown .dropdown-menu li,
.navbar .dropdown .dropdown-menu a {
    color: white;
    font-size: 14px;
    line-height: 30px;
}


/* animation */

.navbar .dropdown .dropdown-menu li:hover,
.navbar .dropdown .dropdown-menu a:hover {
    background: #9c7bac63;
}

.bi {
    margin-right: 10px;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #72727299;
    border-radius: 1ex;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #72727299;
}


/* padding of dropdown */

.glyphicon {
    padding: 0 5px;
}

.dropdown-menu {
    width: 300px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.mat-drawer-container {
    background-color: transparent;
    color: #fff;
}

.mat-drawer {
    background-color: #ffffffbf;
}

:host /deep/ .mat-drawer-inner-container {
    overflow: initial!important;
}

.drawer-content li {
    text-align: left;
    padding: 5px 15px;
}

.drawer-content>li>a {
    text-decoration: none;
}

.drawer-content>li>a .caret {
    transform: rotate(90deg);
    margin-right: 8px;
}

.bg-card {
    position: relative;
    display: inline-block;
}

.bg-card img {
    width: 120px;
    height: 100px;
    border-radius: 10%;
    margin: 5px;
    object-fit: cover;
    cursor: pointer;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.bg-card img:hover {
    border: 2px solid #000;
    opacity: 0.7;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.bg-card:hover .bg-card img {
    opacity: 0.3;
}

.bg-card:hover .middle {
    opacity: 1;
}

.text {
    background-color: #eee;
    color: #000;
    font-size: 12px;
    transition: .5s ease;
    padding: 5px 20px;
}

.middle:hover .text {
    cursor: pointer;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}