<div class="element">
    <h2>Forgot Password ? </h2>
    <h4>You can reset your password here. </h4>
    <form (ngSubmit)="onSubmit()" [formGroup]="forgetPasswordForm">
        <!-- <div *ngIf="successMsg || errorMsg" [ngClass]="{'alert alert-success': successMsg, 'alert alert-danger': errorMsg }">
            {{ successMsg ? successMsg : errorMsg }}
        </div> -->
        <div class="alert alert-success" *ngIf="successMsg">
            {{ successMsg }}
        </div>
        <div class="alert alert-danger" *ngIf="errorMsg">
            {{ errorMsg }}
        </div>
        <div class="form-group">
            <input type="text" class="form-control" formControlName="email" placeholder="
            Enter your email address...">
            <span *ngIf="forgetPasswordForm.get('email').touched && !forgetPasswordForm.get('email').valid" class="error-message">
            <p *ngIf="forgetPasswordForm.get('email').errors['required']">This field is required.</p>
            <p *ngIf="forgetPasswordForm.get('email').errors['email']">Please enter a valid email.</p>
            <!-- <p *ngIf="forgetPasswordForm.get('email').errors.serverError">
                {{ forgetPasswordForm.get('email').errors.serverError }}
            </p> -->
        </span>
        </div>
        <button type="submit" class="mat-raised-button btn-primary btn">Reset my password</button>

    </form>
</div>