.element {
    background-color: #f7f7f7;
    width: 50%;
    margin: 100px auto;
    padding: 30px 30px 60px 30px;
}

.element h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 25px;
    color: #33b5e5;
}

.element h4 {
    font-size: 15px;
    color: #5c6568;
}

.element input[type="text"] {
    width: 75%;
    margin: 0 auto;
}

input.ng-invalid.ng-touched {
    border: 1px solid #cc0033;
}

.error-message {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}